{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>FFXV</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, inventore dolor, temporibus harum quibusdam magnam non laudantium eos rem exercitationem laboriosam eligendi totam. Ipsum fugit neque commodi obcaecati omnis ad.</p>
    </div>

    <div class="col-4">
        <img src= 'assets/final-fantasy-xv-hd-wallpapers-33126-9806525.jpg' class="img-thubnail"
    </div>



</div>
{{> footer}}